 body{
    padding: 0px;
    margin: 0px;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------Responsive--------------------*/
@media screen and (max-width: 800px){
 
}
